<center><h1 style= " background-image: url(http://wallpaperbeta.com/wallpaper_3840x2160/red_wave_fire_textures_ultra_3840x2160_hd-wallpaper-155700.jpg); height: 25%; width: 100%; border: 0px solid black;font-size: 5em; color: OrangeRed ; text-shadow: .04em .04em gray;">Shloime & Malky Weinberger Alpha Blog</h1></center>
<hr>

<center>
<table>
<tr>
<td>
<div class="contentBtmLeft">
<center><h3>Subtitle 1</h3></center>
<p>
<center><h4 style = "background: gray; color: OrangeRed ; text-shadow: .04em .04em black;">Shloime weinberger</h4></center>
<p>
Hi my name is shloime i grow up in Monsey, New york. <br>I am 22 years old and i have a beautiful wife.
</p>

</p>
</div>
</td>
<td>
<div id="right" style="margin-left:50%;border-left:solid 10px black;background:red;"></div>
</td>
<td>
<div class="contentBtmRight">
<center><h3>Subtitle 2</h3></center>
<p>
<center><h4 style = "background: gray; color: OrangeRed ; text-shadow: .04em .04em black;">Malky weinberger</h4></center>
<p>
Hi my name is Malky i grow up in Brooklyn, New york.<br>I am 20 years old and i have a beautiful baby.
</p>

</p>
</div>
</td>
</tr>
</table>
