<!DOCTYPE html>
<html>
<body>
<table>
<tr>
<td>

</tr>
</td>
</table>
<center>
<div class ="jumbotron"><h1>Shloime & Malky Weinberger Alpha Blog</h1>
<h2 style = "background: gray; color: OrangeRed ; text-shadow: .04em .04em black;">
The story of Shloime and Malky weinberger. <br>and our beautiful baby girl Miriam.</h2>
  <p>
  <%= link_to 'Sign up now', "signup", class: "btn btn-warning btn-lg" %>
</p>
</div>
</center>

</body>
</html>