<!DOCTYPE html>
<html>
<head>
<table>
<tr>
<td>
<%= link_to 'about', pages_about_path%>
</tr>
</td>
</table>
<center><div style="background-image: url(https://media.deseretdigital.com/file/b41fa91284?crop=top:0%7Cleft:0%7Cwidth:1260%7Cheight:670%7Cgravity:Center&resize=width:1260&order=resize,crop&c=14&a=c856f78c); height: 670px; width: 1260px; border: 1px solid black;">
<center><h1 style="font-size: 5em; color: OrangeRed ; text-shadow: .04em .04em gray;">Shloime & Malky Weinberger Alpha Blog</h1></center>
<h1 style = "background: gray; color: OrangeRed ; text-shadow: .04em .04em black;">
The story of Shloime and Malky weinberger. <br>and our beautiful baby girl Miriam.
</p></center>
</div>
</head>

<hr>
<br>
<center>
<footer>
  <p>Posted by: Sol Weinberger</p>
  <p>Contact information: <a href="mailto:shloimew99@gmail.com">
  shloimew99@gmail.com</a>.</p>
</footer>
</center>


</html>