<center>
  <hr>
<footer class="footer">
  <small>
  <p>Copyright &copy; Sol Weinberger</p>
  <p>Contact information: <a href="mailto:shloimew99@gmail.com">
  shloimew99@gmail.com</a>.</p>
    </small>
  </center>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
   </nav>
</footer>
